#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1650  // default is 600

&soft_off { hold-time-ms = <3000>; };

/ {
    behaviors {
        power_off: power_off {
            compatible = "zmk,behavior-hold-tap";
            label = "POWER_OFF";
            bindings = <&soft_off>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        bootloader {
            bindings = <&bootloader>;
            key-positions = <2 5 8 11 1 0>;
        };

        gaming_trigger {
            bindings = <&tog 1>;
            key-positions = <0 1 2 9 11 10>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp N1  &kp N2  &kp N3
&kp N4  &kp N5  &kp N6
&kp N7  &kp N8  &kp N9
&kp F2  &kp N0  &kp BSPC
            >;
        };

        gaming {
            bindings = <
&kp R  &kp F  &kp SPACE
&kp E  &kp D  &kp LSHFT
&kp W  &kp S  &kp TAB
&kp Q  &kp A  &kp ESC
            >;
        };

        nav {
            bindings = <
&trans          &kp UP_ARROW  &trans
&kp LEFT_ARROW  &kp UP_ARROW  &kp RIGHT
&trans          &trans        &trans
&trans          &trans        &kp ENTER
            >;
        };
    };
};
